
<h2>Lista de Postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova  postagem</button></a> 

{{#each postagens}}
<div class="card mt-3">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>Descrição: {{descricao}}</p>
        <p>Conteúdo: {{conteudo}}</p>
        <small>Data: {{data}}</small>
        <small>Categoria: {{categoria.nome}}</small><br>

        <a href="/admin/postagens/edit/{{_id}}">
          <button class="btn btn-success mt-2 btn-sm">Editar postagem</button>
        </a>
       <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger btn-sm mt-2">Deletar postagem</button></a>
    </div>
</div>

{{/each}}
